# Mac OSX
.DS_Store
.idea

# Emacs
*~

# data
*_Data
*.pickle
*.model
*.npy
*.tar.gz

# result
*.pt

# other method
dna2vec*
/venv/
*tmp*
/result*/
/datasets/
/embeddings/
/models/
/scripts/saezlab-dorothea-1461fb7/
/scripts/GCF_000001405.39/
/scripts/gene_attribute_edges.txt
/scripts/GCF_000001405.40/
